<div class="modal-header">
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  ></button>
</div>

<div class="col-lg-12">
  <app-carousel [images]="detailedProduct?.images"></app-carousel>
  <div class="d-flex justify-content-center align-items-center"></div>
  <div class="ps-lg-3">
    <h4 class="title text-dark">{{ detailedProduct?.name }}</h4>
    <div class="d-flex flex-row my-3 text-capitalize">
      @for (tag of detailedProduct?.tags; track $index) {
      <span class="badge text-bg-info ms-1"> {{ tag }}</span>
      }
    </div>
    <div class="d-flex flex-row my-3">
      <div class="text-warning mb-1 me-2">
        Rating:

        <span class="ms-1"> {{ detailedProduct?.rating }} </span>
      </div>

      <span class="text-muted">{{ detailedProduct?.shippingInformation }}</span>
      <span
        [ngClass]="{ 'text-danger': !detailedProduct?.stock }"
        class="text-success ms-2"
        >In stock : {{ detailedProduct?.stock }}</span
      >
    </div>

    <div class="mb-3">
      <span class="h5">{{ detailedProduct?.price | currency : "EUR" }}</span>
      <span class="text-muted">/per piece</span>
      <span class="text-muted ms-3 fst-italic"
        >*Minimum order quantity:
        {{ detailedProduct?.minimumOrderQuantity }}</span
      >
    </div>

    <p>
      {{ detailedProduct?.description }}
    </p>
    <div class="row">
      @if (detailedProduct?.brand) {
      <dt class="col-4">Brand:</dt>
      <dd class="col-8">
        {{ detailedProduct?.brand }}
      </dd>
      }

      <dt class="col-4">Warranty:</dt>
      <dd class="col-8">{{ detailedProduct?.warrantyInformation }}</dd>

      <dt class="col-4">Return policy:</dt>
      <dd class="col-8">{{ detailedProduct?.returnPolicy }}</dd>

      <dt class="col-4">Category:</dt>
      <dd class="col-8 text-capitalize">{{ detailedProduct?.category }}</dd>
    </div>
    <hr />
    <div class="col col-12 d-flex flex-column">
      <h3>Reviews:</h3>
      @for (review of detailedProduct.reviews; track $index) {
      <div class="card w-75 mb-3 border-warning mb-3">
        <div class="card-body">
          <h6 class="card-title">
            Rating : {{ review.rating }}
            <ngb-rating [(rate)]="review.rating" [readonly]="true" />
          </h6>
          <p class="card-text">{{ review.comment }}</p>
          <p class="card-text">{{ review.reviewerName }}</p>
          <p class="card-text fst-italic">
            {{ review.date | date }}
          </p>
        </div>
      </div>
      }
    </div>
  </div>
</div>
