<div class="input-group">
  <button class="btn btn-outline-secondary" (click)="onDecreaseQuantity()">
    -
  </button>
  <input
    type="number"
    class="form-control"
    [formControl]="quantityControl"
    [min]="product.minimumOrderQuantity"
    [max]="product.stock"
  />
  <button class="btn btn-outline-secondary" (click)="onIncreaseQuantity()">
    +
  </button>
  <button class="btn btn-danger" (click)="onRemoveFromCart()">
    <i class="fa-solid fa-trash fa-xs"></i>
  </button>
</div>
